/* You can add global styles to this file, and also import other style files */


:root {
    font-family: Helvetica, sans-serif;
}

a {
    color: #4E4E4E;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

label {
    display: inline-block;
    font-size: 0.7em;

    & select, input {
        display: block;
        font-size: 1.3em;
    }
}


select {
    appearance: none;
    width: fit-content;
    padding: 0.5em;
    padding-right: 30px;
    border-radius: 0.25em;
    border-color: #4E4E4E;
    font-size: 1em;

    background: url("./assets/arrow_drop_down_16dp_1F1F1F_FILL0_wght400_GRAD0_opsz20.svg") no-repeat 100%;
}

.flex-container {
    display: flex;
    gap: 5px;
}