.first-column {
    text-align: left;
}

#table-container {
    width: 100%;
    max-width: 1500px;
    min-width: 450px;
    margin: 50px auto;
}

#action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#documentation-table {
    width: 100%;
    text-align: center;
    border-spacing: 15px;
}

#filter-form {
    display: flex;
    gap: 15px;
}