<h1>Lerndokumentationen</h1>
@if(documentations.length > 0) {
<table id="documentation-table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Semester</th>
            <th>Status</th>
            <th>Erstellt am</th>
        </tr>
    </thead>
    <tbody>
        @for(documentation of documentations; track documentation.id) {
            <tr>
                <td>{{ documentation.title }}</td>
                <td>Semester {{ documentation.semester }}</td>
                <td>{{ documentation.state.toString() | lowercase }}</td>
                <td>{{ documentation.createdAt | date:'dd.MM.yyyy' }}</td>
                <td class="flex-container">
                    <a href="#" class="material-icons">delete</a>
                    @if(documentation.state === DocumentationState.OPEN) {
                        <a href="#" class="material-icons">edit</a>
                    } @else {
                        <a href="#" class="material-icons">open_in_new</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
} @else {
    <p>Keine Lerndokus Verfügbar. Erstelle eine <a href="/create">neue Lerndoku</a>.</p>
}